$hamburger-active-layer-color: white;
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';
.hamburger:focus {
  outline: 0;
}

body {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.full-height {
  position: relative;
  height: 100vh;
}

.underlined {
  position: relative;
  &.active:after,
  &:hover:after {
    width: 100%;
  }
  &:before {
    content: '';
    display: none;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 0;
    height: 2px;
    transition: all 0.3s ease;
  }
}

.p0-img .v-responsive__sizer {
  padding: 0 !important;
}

.no-scroll {
  overflow: hidden;
  max-height: 100vh;
}

.container-width {
  max-width: 1280px !important;
}
